<!-- Portfolio Grid Section -->
<section id="portfolio" class="bg-light-gray">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Projects</h2>
            </div>
            <div class="col-lg-12">
                <h3 class="section-subheading text-muted">글로벌 원자재 수요 예측을 위한 이슈 도출 모델 분석 
                    (Analysis of issue derivation model for predicting global raw material demand), IITP, Korea (Sep. 2022 ~ Dec. 2022)</h3>
                <h3 class="section-subheading text-muted">AI 기반의 차세대 의료진단시스템 구축 연구 
                    (Research on building next-generation medical diagnosis system based on AI), Seegene, Korea (Mar. 2023 ~ Feb. 2024)</h3>
                <h3 class="section-subheading text-muted">멀티모달 기반의 위·대장 자동 진단 인공지능 모델 개발 연구 
                    (Research on the development of an AI model for automatic stomach and colon diagnosis based on multi-modality), Seegene, Korea (Mar. 2024 ~ Feb. 2025)</h3>
            </div>
        </div>
        <div class="row">
        {% for post in site.posts %}
            {% if post.category == "project" %}
                <div class="col-md-4 col-sm-6 portfolio-item">
                    <a href="#portfolioModal{{ post.modal-id }}" class="portfolio-link" data-toggle="modal">
                        <div class="portfolio-hover">
                            <div class="portfolio-hover-content">
                                <i class="fa fa-plus fa-3x"></i>
                            </div>
                        </div>
                    </a>
                    <div class="portfolio-caption">
                        <h4>{{ post.title }}</h4>
                        <p class="text-muted">{{ post.subtitle }}</p>
                    </div>
                </div>
            {% endif %}
        {% endfor %}
        </div>
    </div>
</section>

<section id="portfolio" class="bg-light-gray">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">International Papers</h2>
            </div>
            <div class="col-lg-12">
                <h3 class="section-subheading text-muted">Jong-Woo Kim, Min-Kyu Jeong, <strong>Hyeong-Min Park</strong>, Young-Sin Ko, Mun Yong Yi, 
                    <a href="https://ieeexplore.ieee.org/document/10635826" target="_blank">"Leveraging Spatial Relationships in Microscope for Patient Cancer Diagnosis"</a>, 
                    IEEE International Symposium on Biomedical Imaging (ISBI), 2024</h3>
                <h3 class="section-subheading text-muted"><strong>Hyeong-Min Park</strong>, Sung-Rae Hong, Chan-Jae Song, Jong-Woo Kim, Mun Yong Yi, 
                    <a href="https://openaccess.thecvf.com/content/WACV2025/html/Park_Uncertainty-Based_Data-Wise_Label_Smoothing_for_Calibrating_Multiple_Instance_Learning_in_WACV_2025_paper.html" target="_blank">"Uncertainty based Data-wise Label Smoothing for Calibrating Multiple Instance Learning in Histopathology Image Classification"</a>, 
                    IEEE/CVF Winter Conference on Applications of Computer Vision (WACV), 2025, Oral Presentation</h3>
                <h3 class="section-subheading text-muted">Jong-Woo Kim, Seong-Yeub Chu, <strong>Hyeong-Min Park</strong>, Bryan Wong, Mun Yong Yi, 
                    <a href="https://arxiv.org/abs/2407.20648" target="_blank">"Leveraging Multi-facet Paths for Heterogeneous Graph Representation Learning"</a>, 
                    arXiv pre-print, 2025</h3>
                <h3 class="section-subheading text-muted">Sung-Rae Hong, <strong>Hyeong-Min Park</strong>, Young-Sin Ko, Sol Lee, Bryan Wong, Mun Yong Yi, 
                    <a href="https://ieeexplore.ieee.org/document/10981309" target="_blank">"Towards Classifying Histopathological Microscope Images as Time Series Data"</a>,  
                    IEEE International Symposium on Biomedical Imaging (ISBI), 2025, Oral Presentation</h3>
            </div>
        </div>
        <div class="row">
        {% for post in site.posts %}
            {% if post.category == "international-paper" %}
                <div class="col-md-4 col-sm-6 portfolio-item">
                    <a href="#portfolioModal{{ post.modal-id }}" class="portfolio-link" data-toggle="modal">
                        <div class="portfolio-hover">
                            <div class="portfolio-hover-content">
                                <i class="fa fa-plus fa-3x"></i>
                            </div>
                        </div>
                    </a>
                    <div class="portfolio-caption">
                        <h4>{{ post.title }}</h4>
                        <p class="text-muted">{{ post.subtitle }}</p>
                    </div>
                </div>
            {% endif %}
        {% endfor %}
        </div>
    </div>
</section>

<section id="portfolio" class="bg-light-gray">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading text-center">Domestic Papers</h2>
            </div>
            <div class="col-lg-12">
                <h3 class="section-subheading text-muted"><strong>박형민 (Hyeong-Min Park)</strong>, 홍성래 (Sung-Rae Hong), 이솔 (Sol Lee), 김태미 (Tae-Mi Kim), 이문용 (Mun Yong Yi) 
                    <a href="https://www.dbpia.co.kr/Journal/articleDetail?nodeId=NODE11861997" target="_blank">"음악 장르 분류를 위한 이미지 증강 기반 자기 지도 학습 (Image Augmentation Based Self-supervised Learning for Music Genre Classification)"</a>, 
                    한국정보과학회 2024 한국컴퓨터종합학학술대회</h3>
                <h3 class="section-subheading text-muted">강현구(Hyeon-Gu Kang), 정민규(Min-Kyu Jeong) , 고영신(Young-Sin Ko), 황유리(Yuri Hwang), <strong>박형민(Hyeong-Min Park)</strong>, 이나현(Na-Hyeon Lee), 이문용(Mun Yong Yi), 
                    <a href="https://www.dbpia.co.kr/Journal/articleDetail?nodeId=NODE11800928" target="_blank">"현업 조직 병리 환경을 고려한 효율적인 신규 패치 능동 학습 구조 제안 (New framework of histopathology active learning)"</a>, 
                    2024 대한산업공학회 춘계공동학술대회</h3>
            </div>
        </div>
        <div class="row">
        {% for post in site.posts %}
            {% if post.category == "domestic-paper" %}
                <div class="col-md-4 col-sm-6 portfolio-item">
                    <a href="#portfolioModal{{ post.modal-id }}" class="portfolio-link" data-toggle="modal">
                        <div class="portfolio-hover">
                            <div class="portfolio-hover-content">
                                <i class="fa fa-plus fa-3x"></i>
                            </div>
                        </div>
                    </a>
                    <div class="portfolio-caption">
                        <h4>{{ post.title }}</h4>
                        <p class="text-muted">{{ post.subtitle }}</p>
                    </div>
                </div>
            {% endif %}
        {% endfor %}
        </div>
    </div>
</section>
